@font-face {
  font-family: font1;
  src: url("../public/Neilvard\ Two.ttf");
}
@font-face {
  font-family: font2;
  src: url("../public/Carpenters\ Personal\ Use.ttf");
}

.f1{
  font-family: font1;
}
.f2{
  font-family: font2;
}

.pos{
  object-position: 50% 29%;

}